# Task
CRUD operation on Numpy Array

# What is Array


1.   Store similar type data 
2.   like Python List

# Array
# [1, 2, 3, 4]
* 1 => index position 0
* 2 => index position 1
* 3 => index position 2
* 4 => index position 3

# Primary operation can be CRUD in python Array

# They are similar :
* python list
* python array
* numpy array

# Homogeneous vs Heterogeneous
# Homogeneous
* store same data type in the array
* [1, 2, 3]

# Heterogeneous
* Store different data type in the array
* [1, "apple", 5.6]

* "python array" module & python numpy are homogeneous
* "python list" are heterogeneous

# Typecode in array
* 'i' => int => 2 bytes
* 'f' => float => 4 bytes
* 'd' => float => 8 bytes
* 'u' => unicode character => 2 bytes

[python array typecode](https://docs.python.org/3/library/array.html)

In [ ]:
# create array
import array
int_array1 = array.array('i', [1,2,3])
print(int_array1)
print('typecode is ',int_array1.typecode)

float_array2 = array.array('f', [1.5, 2.6, 9.5]) 
print(float_array2)
print('typecode is ', float_array2.typecode)

unicode_array3 = array.array('u', ['a', 'b', 'c'])
print(unicode_array3)
print('typecode is', unicode_array3.typecode)

array('i', [1, 2, 3])
typecode is  i
array('f', [1.5, 2.5999999046325684, 9.5])
typecode is  f
array('u', 'abc')
typecode is u

In [ ]:
# print the length of an array
my_array = array.array('i', [1, 2, 3, 4, 5, 6, 7, 8, 9])
print('the length is ',len(my_array))

the length is  9

In [ ]:
# printing array's value
new_array = array.array('i', [10, 20, 70, 90])
print(new_array[0])
print(new_array[1])
print(new_array[2])
print(new_array[3])

for i in range(len(new_array)):
  print(new_array[i], end=" ")

10
20
70
90
10 20 70 90

In [ ]:
# create an array
my_list = list(range(50))
my_array = array.array('i', my_list)
print(my_array)

for i in my_array:
  print(my_array[i])

array('i', [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49])
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [ ]:
# print element as index position
yy_array = list(range(10))
nn_array = array.array('f', yy_array)
print(nn_array)
print(nn_array[4])

array('f', [0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0])
4.0

# Add element in the array
* insert
* append

In [ ]:
# insert
gg_array = array.array('i', [10, 20, 30])
gg_array.insert(1, 1000) # here 1 is index position & 1000 is value
print(gg_array)

array('i', [10, 1000, 20, 30])

In [ ]:
# append
gg_array.append(300)
print(gg_array)

array('i', [10, 1000, 20, 30, 300])

In [ ]:
# update the element
rayhan_array = array.array('i', [50, 60, 70])
rayhan_array[1] = 5000
print(rayhan_array)

array('i', [50, 5000, 70])

In [ ]:
# remove element from the array
sizan_array = array.array('i', [10, 20, 30, 40, 50, 60, 70, 80, 90])

sizan_array.pop()
print(sizan_array)

sizan_array.pop(4)
print(sizan_array)

sizan_array.remove(30)
print(sizan_array)

array('i', [10, 20, 30, 40, 50, 60, 70, 80])
array('i', [10, 20, 30, 40, 60, 70, 80])
array('i', [10, 20, 40, 60, 70, 80])

In [ ]:
# slicing
xy = list(range(0, 100, 3)) # 3 is step size
arr1 = array.array('i', xy)
print(arr1[10:20])
print(arr1[10:-20])
print(arr1[::-1]) # reverse array

array('i', [30, 33, 36, 39, 42, 45, 48, 51, 54, 57])
array('i', [30, 33, 36, 39])
array('i', [99, 96, 93, 90, 87, 84, 81, 78, 75, 72, 69, 66, 63, 60, 57, 54, 51, 48, 45, 42, 39, 36, 33, 30, 27, 24, 21, 18, 15, 12, 9, 6, 3, 0])